/*COULEURS*/
/*PRESET*/
* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
}

/*MEDIA QUERIES*/
/*MOBILE VERSION*/
/*NAV*/
body {
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color 400ms ease-in-out;
}
body.menu-active::before {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  display: block;
  width: 100%;
  padding: 10% 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  position: fixed;
}
header a {
  font-size: 30px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}

#nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 8%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 400ms ease-in-out;
  position: fixed;
  width: 84%;
}
#nav-mobile ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#nav-mobile li a {
  padding: 10px;
  color: transparent;
  transition: color 400ms ease-in-out;
  font-size: 16px;
  font-weight: 600;
  text-transform: lowercase;
  text-decoration: none;
}
#nav-mobile li a.menu-active {
  color: hsl(0deg, 0%, 0%);
}
#nav-mobile.menu-active {
  background-color: hsl(0deg, 0%, 100%);
}

#burger {
  z-index: 9;
  cursor: pointer;
  width: 22px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
  position: absolute;
  border-radius: 500px;
  transition: background-color 300ms ease-in-out;
}
#burger span:nth-child(1), #burger span:nth-child(3) {
  transition: all 300ms ease-in-out;
}
#burger span:nth-child(1) {
  transform: translateY(-6px);
}
#burger span:nth-child(3) {
  transform: translateY(6px);
}
#burger.menu-active span {
  background-color: transparent;
}
#burger.menu-active span:nth-child(1) {
  transform: rotateZ(45deg);
  background-color: hsl(0deg, 0%, 63%) !important;
}
#burger.menu-active span:nth-child(3) {
  transform: rotateZ(-45deg);
  background-color: hsl(0deg, 0%, 63%) !important;
}

/*SECTIONS*/
section p {
  font-size: 16px;
  line-height: 20px;
  color: hsl(0deg, 0%, 63%);
  font-weight: 500;
}

.slider__img {
  width: 100%;
}
.slider__text {
  padding: 70px 35px;
}
.slider h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.slider p {
  margin-bottom: 40px;
}
.slider a {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: hsl(0deg, 0%, 0%);
  text-decoration: none;
  font-weight: 600;
  margin-right: 15px;
}
.slider h2 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.about__text {
  padding: 50px 35px 40px 35px;
}
.about h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 15px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
