/*COULEURS*/
$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-gray: hsl(0, 0%, 27%);

/*PRESET*/
* {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

/*MEDIA QUERIES*/
@mixin desktop {
  @media screen and (min-width: 900px) {
    @content;
  }
}

/*NAV*/
body {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    transition: background-color 400ms ease-in-out;
    z-index: 8;
  }
  &.menu-active {
    &::before {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
header {
  width: 100%;
  padding: 10% 8%;
  text-align: center;
  position: fixed;
  z-index: 8;
  a {
    font-size: 30px;
    color: $white;
    font-weight: 500;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    margin-left: -30px;
  }
  @include desktop {
    padding: 44px 0 44px 100px;
    text-align: left;
  }
}
#nav-mobile {
  position: fixed;
  z-index: 9;
  width: calc(100% - 16%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 8%;
  background-color: transparent;
  transition: background-color 400ms ease-in-out;
  @include desktop {
    display: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  li a {
    font-size: 16px;
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;
    color: transparent;
    padding-left: 20px;
    transition: color 400ms ease-in-out;
    &.menu-active {
      color: $black;
    }
  }
  &.menu-active {
    background-color: $white;
  }
}
#nav-desktop {
  display: none;
  @include desktop {
    display: block;
    width: 50%;
    padding: 50px 0 50px 180px;
    position: fixed;
    z-index: 9;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
    }
    li a {
      font-size: 18px;
      font-weight: 600;
      text-transform: lowercase;
      text-decoration: none;
      color: $white;
      padding-left: 30px;
    }
  }
}
#burger {
  cursor: pointer;
  width: 22px;
  height: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
    border-radius: 500px;
    transition: background-color 300ms ease-in-out;
    &:nth-child(1),
    &:nth-child(3) {
      transition: all 300ms ease-in-out;
    }
    &:nth-child(1) {
      transform: translateY(-6px);
    }
    &:nth-child(3) {
      transform: translateY(6px);
    }
  }
  &.menu-active {
    span {
      background-color: transparent;
      &:nth-child(1) {
        transform: rotateZ(45deg);
        background-color: $dark-gray !important;
      }
      &:nth-child(3) {
        transform: rotateZ(-45deg);
        background-color: $dark-gray !important;
      }
    }
  }
}

/*SECTIONS*/
section {
  p {
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray;
    font-weight: 500;
  }
}

/*SLIDESHOW*/
.slider {
  &__img {
    position: relative;
    display: flex;
    flex: 2;
    &--hero {
      object-fit: cover;
    }
  }
  &__arrows {
    background-color: $black;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 8;
    @include desktop {
      right: -127.067px;
    }
    a {
      cursor: pointer;
      display: inline-block;
      padding: 20px;
      transition: opacity 200ms ease-in-out;
      &.next {
        margin: 0 !important;
      }
      &:hover {
        opacity: 70%;
      }
      img {
        width: 70%;
      }
    }
  }
  &__img--hero {
    width: 100%;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 55px 35px 70px 35px;
    @include desktop {
      justify-content: center;
      padding: 8% 8% 10% 8%;
    }
  }
  h1 {
    font-size: 35px;
    margin-bottom: 15px;
    @include desktop {
      font-size: 45px;
    }
  }
  p {
    margin-bottom: 40px;
  }
  a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 12px;
    color: $black;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
  }
  h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 15px;
  }
  &__container {
    display: none;
    &.active {
      display: block;
      @include desktop {
        display: flex;
      }
    }
  }
}

.img-mobile {
  @include desktop {
    display: none;
  }
}
.img-desktop {
  display: none;
  @include desktop {
    display: block;
  }
}

.about {
  &__text {
    padding: 50px 35px 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
      padding: 70px 50px;
    }
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-bottom: 20px;
    @include desktop {
      font-size: 17px;
    }
  }
  img {
    width: 100%;
  }
  @include desktop {
    display: flex;
  }
}
